.container {
    display: flex;
    gap: 16px;
    padding: 16px 32px;
}

.btn {
    font-size: 24px;
    border: 1px solid violet;
    border-radius: 4px;
    padding: 8px 16px;
}

.btn:hover, .btn:focus {
background-color: rgb(161, 103, 145);
}